@CHARSET "UTF-8";

/*-------- ******* GLOBAL ******** --------*/
body{
	font-size: 16pt;
	padding: 0;
	margin: 0;
	background:#666666;
	color: #FFFFFF;
	font-family: 'Goudy Bookletter 1911', serif;
}

#container{
	width: 960px;
	margin: 0 auto;
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/container/bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin:0;
}

header{
	height: 155px;
	padding: 0;
	margin:0;
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/header/headerBG.png");
	background-repeat: repeat-x; 
	box-shadow: 0 5px 5px #666666;
	-webkit-box-shadow: 0 5px 5px #666666; /* Safari Chrome*/  	
}

a{
	outline:none;
}

a:link, a:visited{
	color:#CCCCCC;
}

a:hover, a:active{
	color: #3FFFED;
}

/*------------------ HEADER --------------------*/
header a{
	text-decoration: none;
}

#logo{
	color: #CCCCCC;	
	float:left;
	
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/header/logo.png");
}

#logo a{
	text-indent: -9999px;
	display: block;
	width: 315px;
	height:155px;
}

/*------------------ NAV --------------------*/
nav{
	height: 36px;
	padding: 14px;
}


nav span{
	margin:0 auto;
	text-align:center;
	display: inline-block;
	font-size: 36pt;
	width: 300px;
	height: 40px;
	padding: 0 5px;
	margin-top:30px;
}

/*-------- *******CONTENT******** --------*/

#content{
	padding: 0;
	margin: 0;
}

#content #file_info{
	float: left;
	width: 920px;
	padding-left: 20px;
	color: #FFFFFF;
}

#content #file_info #descrip{
	width: 960px;
}

#content li{
	float:left;
	list-style-type: none;
	padding: 0 5px;
}

#content li .alt{
	color:#cccccc;
}

#content #filmStrip{
	height: 200px;
	width: 960px;
	margin: 200px 0;
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/content/filmstrip/filmstripBG.png");
}

#content #filmStrip ul{
	padding: 20px 0;
	list-style-type: none;
	margin-left: 120px;
}

#content #filmStrip li{
	width: 220px;
	height:160px;
	float: left;
	margin-left:  10px;
	text-indent: -9999px;
	text-align: center;
	font-size: 1.5em;

}

#content #filmStrip li a{
	width: 220px;
	height:160px;
	display: block;
}
	
#content #filmStrip #radio{
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/content/filmstrip/radio_sprite.png");
	background-repeat: no-repeat;	
}

#content #filmStrip #fso_video{
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/content/filmstrip/advert_video_sprite.png");
	background-repeat: no-repeat;	
}

#content #filmStrip .pic_hover:hover{
	background-position: 0 -160px;
}

#content #filmStrip #vaca_video{
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/content/filmstrip/vaca_video_sprite.png");
	background-repeat: no-repeat;
}

/*------------------ AUDIO --------------------*/
#content #radio_bg{
	background-color: rgb(0,0,0); opacity: .75;
	margin: 100px 0;
	height: 475px;
	width: 960px;
}

#content h3{
	margin: 10px 0 0 10px;
}

#content #radio_bg #audio_player{
	width: 400px;
	float: left;
	background-color: #CCCCCC;
	border: 2px solid #666666;
	border-radius: 10px; 
	margin: 20px 20px 200px 100px;
	box-shadow: 5px 5px 5px #666666;
	-webkit-box-shadow: 5px 5px 5px #666666; /* Safari & Chrome */
}

#content #audio_player #audio_bg{
	width:300px;
	height:300px;
	padding:0 50px;
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/content/audio_playerBG.png");
	background-repeat: no-repeat;
	background-position: 50px;
}

#content #radio_bg #audio_player #qtplayer{
	padding-top: 250px;
}

#content #radio_bg #audio_file_chooser{
	width: 175px;
	margin: 20px 20px 20px 20px;
	padding: 10px;
	border: 2px solid #666666;
	background-color: #CCCCCC;
	float: left;
	border-radius: 10px; 
	font-size: 2em;
	text-align: center;
	box-shadow: 5px 5px 5px #666666;
	-webkit-box-shadow: 5px 5px 5px #666666; /* Safari */
}

#content #radio_bg #audio_file_chooser h3{
	text-decoration: underline;
	padding: 0;
	color: #000000;
}

#content #audio_file_chooser ul{
	padding:0;
	text-align:center;
	margin: 0;
	list-style-type: none;
}

#content #audio_file_chooser a:link, #content #audio_file_chooser a:visited{
	color: #666666;
	text-decoration: none;
}

#content #audio_file_chooser a:hover, #content #audio_file_chooser a:active{
	color: #3FFFED;
	text-decoration: none;
}

/*------------------ VIDEO --------------------*/
#content #video_bg{
	background-color: rgb(0,0,0); opacity: .75;
	margin: 100px 0;
	height: 525px;
	width: 960px;
} 

#content #video_bg ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#content #video_file_chooser a:link, #content #video_file_chooser a:visited{
	color: #666666;
	text-decoration: none;
}

#content #video_file_chooser a:hover, #content #video_file_chooser a:active{
	color: #3FFFED;
	text-decoration: none;
}

#content #video_player{
	float: left;
	margin: 10px 20px;
	font-size: 1.25em;
	border: 2px solid #666666;
	background-color: #CCCCCC;
	padding: 20px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-mozilla-border-radius: 10px;
	box-shadow: 5px 5px 5px #666666;
	-webkit-box-shadow: 5px 5px 5px #666666; /* Safari & Chrome */
}


#content #video_file_chooser{
	float: left;
	width: 250px;
	font-size: 1.25em;
	margin: 10px 20px 0 20px;
	padding: 20px;
	border: 2px solid #666666;
	background-color: #CCCCCC;
	border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-mozilla-border-radius: 10px;
	box-shadow: 5px 5px 5px #666666;
	-webkit-box-shadow: 5px 5px 5px #666666; /* Safari & Chrome */
}


/*------------------ FOOTER --------------------*/
footer{
	clear:both;
	height: 20px;
	background-image: url("https://s3.amazonaws.com/DKdesigns_images/dkvx_radio/footer/footerBG.png");
	padding: 20px;
	border-top: 2px solid #CCCCCC;
	text-align: center;  
}

footer #copyright{
	text-align:center;
	margin:0 auto;
}

footer #copyright a{
	text-decoration: none;
}